<h1>Listing games</h1>

<table>
  <tr>
    <th>ユーザ数</th>
    <th></th>
    <th></th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%= game.users.size %></td>
    <td><%= link_to '接続', game %></td>
    <td><%= link_to 'リセット', reset_game_path(game) %>
  </tr>
<% end %>
</table>
