<style>
#close {
  right: 8px;
  top: 8px;
  position: absolute;
}
</style>

Welcome, <%= @user.name %>.
<span id="turn"></span>

<div id="close">
<%= link_to "切断", disconnect_game_url(@game) %>
</div>

<div>
    <div id="user"></div>
    <div id="tiles"></div>
    <div id="stocks"></div>
    <div id="chain-markers"></div>
    <div id="purchase"></div>
    <div id="merged"></div>
</div>
